#-------------------------------
# Maven config
#-------------------------------
#service.name=${service.name}
#-------------------------------
# Coffee config
#-------------------------------
coffee:
  config:
    resource:
      bundles: i18n.messages
    xml:
      catalog:
        path: xsd/hu/icellmobilsoft/dookug/super.catalog.xml

dookug:
  service:
    cache:
      template:
        ttl: 60
    engine:
      pdf:
        dssesig:
          sampleProfile:
            key:
              algo: RSA_2048
            keystore:
              path: /home/icellmobilsoft/keys/nusz_cert.pfx
              type: PKCS12
            dss:
              imageFile: /home/icellmobilsoft/pdfsign/sample/signature.png
              page: -1            
        digitalsign:
          default:
            name: Default Llc.
            reason: Original document
            keystore: /home/icellmobilsoft/keys/keystore.p12
            keystorePass: 123456
            keystoreType: PKCS12
            keyAlias: test 
          sample:
            name: Sample Llc.
            reason: Original
            keystore: /home/icellmobilsoft/keys/keystore.p12
            keystorePass: 123456
            keystoreType: PKCS12
            keyAlias: test
          sampleDss:
            keystore: /home/icellmobilsoft/keys/sample_cert.pfx
            keystoreType: PKCS12
            useEuDssSig: true
            dss:
              imageFile: /home/icellmobilsoft/pdfsign/sample/signature.png
              showOnPage: 1
              position:
                left: 18
              width: 2
              useTimestamp: false        
      saxon:
        fopconfig: /home/icellmobilsoft/fop-config/fop-config.xml
        xslt:
          language:
            variable: lang
            default: HU
      handlebars:
        helper:
          javascript:
            directory: /home/icellmobilsoft/handlebars/helper/js
#-------------------------------
# XML security settings
#-------------------------------
org.xml.sax.parser: com.sun.org.apache.xerces.internal.parsers.SAXParser
javax.xml.parsers.DocumentBuilderFactory: com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl
javax.xml.parsers.SAXParserFactory: com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl
entityExpansionLimit: 100
